<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1">
    <test name="FastTest">
        <groups>
            <run>
                <include name="fast" />
            </run>
        </groups>

        <classes>
            <class name="com.testapp.AppTest" />
        </classes>
    </test>
</suite>